body
{

    background: url(../img/bodybg2.jpg);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    text-align: right;

}
/* ---------------------------------------------------------------الروابط------------------------------------------------------------- */
a
{

    text-decoration: none;

}

a:link, a:visited
{

    color: rgb(208, 18, 18);

}
/* ---------------------------------------------------------------header1,body1------------------------------------------------------------ */
body
{

    width: 70%;
    margin: 10px auto;
    clear: both;
   

}

h1
{
    text-align: center;
}

li { display: inline;}

.nav1
{

    margin: 50px 50px;
  /* مسافة بين الايقونة و الاسم */
  word-spacing: 50pt;

}

.nav2
{

    font-weight: bold;
    margin: 50px 90px;
  /* مسافة بين الايقونة و الاسم */
  word-spacing: 160pt;

}

.send
{

    text-align: center;


}

.nav3
{

    margin: 50px 50px;
  /* مسافة بين الايقونة و الاسم */
  word-spacing: 50pt;

}

.nav4
{

    font-weight: bold;
    margin: 50px 90px;
  /* مسافة بين الايقونة و الاسم */
  word-spacing: 160pt;

}

header
{
    width: 90%;
}

.send
{
    text-align: center;
    margin: 100px 0px;
}

a:hover{color:  rgb(250, 32, 32);}
 /* لما احط الماوس ع الرابط يتغير لونه و هو يستخدم لاي شي مش بس الرابط */






