body
{

    background: url(../img/bodybg2.jpg);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif;
    line-height: 1;
    text-align: right;
     width: 70%; 
    margin: 10px auto;
    clear: both;


}

h1
{
    text-align: center;
}

.send
{

    text-align: center;
    margin-top: 100px;
    /* الهوامش الخارجية من فوق */


}
