body
{

    background: url(../img/bodybg2.jpg);
    /* اضافة صورة للخلفية */
    font-size: 20px;
    /* حجم الخط */
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    /* نوع الخط بحيث اذا ماتوفر اول نوع خط يستخدم الثاني و هكذا */
    line-height: 1;
    /* المسافة بين الكلام */
    text-align: right;
    /* يبدأ الكتابة من اليمين */

}
/* ---------------------------------------------------------------الروابط------------------------------------------------------------- */
a
{

    text-decoration: none;
    /* لازالة خط الروابط */
}

a:link, a:visited
{

    color: rgb(208, 18, 18);
    /* لون الرابط و في حال تمت زيارته */

}
/* ---------------------------------------------------------------header1,body1------------------------------------------------------------ */
body
{

    width: 70%;
    margin: 10px auto;
    clear: both;
   

}

h1
{
    text-align: center;
}

li { display: inline;}
/* احعلهم على نفس السطر */

.nav1
{

    margin: 50px 225px;
  /* مسافة بين الايقونة و الاسم */
  word-spacing: 100pt;
  /* مسافة بين الكلمات */

}

.nav2
{

    font-weight: bold;
    /* اجعلها غامقة */
    margin: 50px 250px;
  /* مسافة بين الايقونة و الاسم */
  word-spacing: 135pt;

}

.send
{

    text-align: center;
    margin-top: 180px;



}

a:hover{color:  rgb(250, 32, 32);}
 /* لما احط الماوس ع الرابط يتغير لونه و هو يستخدم لاي شي مش بس الرابط */







